h1 {
    display: flex;
    justify-content: center;
}

h2 {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.userScore {
    display: flex;
    justify-content: center;
}

.cpuScore {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 48px;
    margin-top: 72px;
}

button {
    font-size: 24px;
}

.newGameBtn {
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

#newGame {
    font-size: 16px;
}